
/*--------------------------------------------------------------*\
                              POSITION
\*--------------------------------------------------------------*/
.pabsolute{
  position: absolute; !important
}
.nopadding{
  padding:0!important;
  margin:0!important;
}
/*--------------------------------------------------------------*\
                              INTERFACE
\*--------------------------------------------------------------*/

/* Header */
.custom-header{
  text-align: center;
}
.page-mark-light{
  border-top: 10px solid #bde0fc;
  margin-bottom: 10px;
}
.page-mark-dark{
  border-top: 10px solid #1c80d0;
  margin-bottom: 10px;
}

/* Body */
.panel{
  overflow-x: hidden;
  overflow-y: scroll;
}
.register-titles{
  text-align: center;
  text-transform: uppercase;
  color:#1c80d0 ;
}

/* Footer */

/*--------------------------------------------------------------*\
                              COLORS
\*--------------------------------------------------------------*/

/* BACKGROUND */
.bg-turquoise{
  background-color: #11a7ab; !important
}

.bg-white{
  background-color: #FFF; !important
}

/* TEXT COLOR */
