/*--------------------------------------------------------------*\
                              POSITION
\*--------------------------------------------------------------*/
.pabsolute{
  position: absolute; !important
}
/*--------------------------------------------------------------*\
                              INTERFACE
\*--------------------------------------------------------------*/

/*.custom-header{

}*/

/*--------------------------------------------------------------*\
                              COLORS
\*--------------------------------------------------------------*/

/* BACKGROUND */
.bg-turquoise{
  background-color: #11a7ab; !important
}

/* TEXT COLOR */
.text-white{
    color: #FFF; !important
}
